.btn__box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.btn__box--flex-start {
	justify-content: flex-start;
}

.btn__form {
	padding: 1rem;
	font-size: var(--font-size-large-btn);
	background-color: var(--btn-bg-color);
	color: var(--white-text-color);
}

.btn__form-guest {
	background-color: var(--main-bg-color-accent);
}

.btn__form-gender {
	padding: 0.5rem;
	background-color: var(--btn-bg-color);
	color: var(--white-text-color);
	font-size: var(--font-size-small-p);
	border-radius: 5px;
}

.btn__shui-msg {
	position: fixed;
	right: 2rem;
	bottom: 3rem;
	padding: 0.5rem;
	background-color: var(--btn-bg-color);
	color: var(--white-text-color);
	font-size: var(--font-size-small-p);
	border-radius: 5px;
}

.btn__icon-left {
	width: 30px;
	height: 30px;
}

.shui-msg__edit-btn {
	background-color: var(--btn-bg-color);
	padding: 0.4rem;
	border-radius: 5px;
	color: var(--white-text-color);
}

.shui-msg__category-btn {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0.2rem 0.5rem;
	font-size: var(--font-size-small-p);
	position: none;
}

.shui-msg__username-btn {
	margin-top: 0.2rem;
	background: none;
	color: var(--black-text-color);
	font-size: var(--font-size-small-btn);
	font-weight: bold;
	cursor: pointer;
	padding: 0;
	display: inline;
}

.shui-msg__remove-btn {
	background-color: var(--error-text-color);
	padding: 0.4rem;
	border-radius: 5px;
	color: var(--white-text-color);
	gap: 0.2rem;
}

.category-btn {
	width: 100%;
	padding: 2rem;
	font-size: var(--font-size-large-btn);
	font-weight: 600;
	background-color: var(--white-bg-color);
	color: var(--black-text-color);
}

.tankar-btn {
	background-color: var(--category-thoughts);
}

.ideer-btn {
	background-color: var(--category-ideas);
}

.humor-btn {
	background-color: var(--category-humor);
}

.frågor-btn {
	background-color: var(--category-questions);
}
.all-btn {
	background-color: var(--main-bg-color);
}
.categories__btn--small {
	justify-content: center;
	padding: 0.4rem;
	font-size: var(--font-size-small-p);
	border-radius: 10px;
}

.categories__btn--small > img {
	display: none;
}

.shui-msg__empty-new-shui {
	padding: 0.5rem;
	background-color: var(--btn-bg-color);
	color: var(--white-text-color);
	font-size: var(--font-size-small-p);
	border-radius: 5px;
}

.sort-time__btn {
	font-size: var(--font-size-small-btn);
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: var(--white-bg-color);
}
