.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form__title {
	text-align: center;
	font-size: var(--font-size-h1);
}

.form__label {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: var(--font-size-h3);
}

.form__input {
	padding: 0.5rem;
	font-size: var(--font-size-large-p);
	border-radius: 5px;
}

.form__showpassword {
	position: absolute;
	right: 5%;
	top: 50%;
	font-size: 1.2rem;
}

.form__link-btn {
	display: inline-block;
	font-size: var(--font-size-large-p);
}

.form__link-bold {
	font-weight: 700;
}
