.messages__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.categories__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
}

.categories__title {
	font-size: var(--font-size-h1);
}

.categories__title--none {
	display: none;
}

.categories__btn-box {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	border-radius: 10px;
}

.categories__btn-box--small {
	gap: 0.4rem;
	flex-direction: row;
}

.categories__btn--active {
	transform: scale(1.1);
}

.categories__btn-box--small button:not(.categories__btn--active) {
	opacity: 0.5;
	color: #333;
}
