.shui-msg__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.shui-msg__box {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	border-radius: 10px;
	gap: 0.5rem;
	background-color: var(--white-bg-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.shui-msg__top-box {
	display: flex;
	gap: 0.5rem;
}

.shui-msg__img {
	width: 55px;
	height: 55px;
}

.shui-msg__title {
	font-size: var(--font-size-h3);
}

.shui-msg__text {
	margin-top: 0.5rem;
	font-size: var(--font-size-large-p);
	font-style: italic;
}

.shui-msg__empty {
	justify-self: center;
	align-self: center;
	color: var(--btn-bg-color-no);
}

.shui-msg__edit-box {
	display: flex;
	gap: 0.5rem;
}

.popup__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 80%;
	justify-self: center;
	padding: 2rem;
	font-size: 1.5rem;
	color: var(--white-text-color);
	border-radius: 5px;
	white-space: pre-line;
	text-align: center;
	line-height: 2rem;
	background-color: var(--main-bg-color);
}

.popup__btn-box {
	display: flex;
	gap: 1rem;
}

.popup__yes-btn,
.popup__no-btn {
	padding: 1rem;
	border-radius: 5px;
	color: var(--white-text-color);
}

.popup__yes-btn {
	background-color: var(--btn-bg-color-yes);
}

.popup__no-btn {
	background-color: var(--btn-bg-color-no);
}

.shui-msg__empty-box {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	gap: 1rem;
	background-color: var(--white-bg-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.shui-msg__empty-icon {
	font-size: 3rem;
	color: var(--main-bg-color);
}

.shui-msg__empty-text {
	text-align: center;
	white-space: pre-line;
}

.suit-messages__top-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.suit-messages__top-box--flex-end {
	justify-content: flex-end;
}
