.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form__title {
	text-align: center;
	font-size: var(--font-size-h1);
}

.form__label {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: var(--font-size-h4);
}

.form__label-genders {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: var(--font-size-large-p);
}

.form__input-gender {
	vertical-align: middle;
	margin-left: 0.3rem;
}

.form__avatar-img {
	max-width: 150px;
	align-self: center;
}

.form__input {
	padding: 0.5rem;
	font-size: 1.2rem;
	border-radius: 5px;
}

.form__gender-btn {
	border: none;
	padding: 0.5rem;
	background-color: var(--btn-bg-color);
	color: var(--white-text-color);
	font-size: var(--font-size-small-p);
}

.form__showpassword {
	position: absolute;
	right: 5%;
	top: 50%;
	font-size: 1.2rem;
}

.error_msg {
	color: var(--error-text-color);
}
