.auth__top-hero {
	width: 100%;
	height: 30vh;
	background-color: var(--main-bg-color);
	display: grid;
	place-content: center;
}

.auth__hero-logo {
	width: 200px;
}

.auth__main-wrapper {
	width: 100%;
	height: 70vh;
	padding: 2rem;
}
