.auth__top-hero {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 0;
	gap: 0.5rem;
}

.auth__hero-logo {
	width: 170px;
}

.auth__title,
.auth__subtitle {
	text-align: center;
	color: var(--white-text-color);
}

.auth__subtitle {
	font-size: var(--font-size-h4);
}

.auth__main-wrapper {
	position: absolute;
	top: 280px;
	left: 0;
	width: 100%;
	height: 70vh;
	padding: 2rem;
}
