@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	/* outline: 1px solid red; */
}

:root {
	/* BG colors */
	--main-bg-color: #3697da;
	--main-bg-color-light: #5eb0e0;
	--main-bg-color-dark: #2473a0;
	--main-bg-color-muted: #8bbfe5;
	--main-bg-color-accent: #da6b36;
	--main-bg-color-soft: #cce5f7;
	--main-bg-color-gradient-start: #3697da;
	--main-bg-color-gradient-end: #1e5f8a;
	--white-bg-color: #ffffff;
	--black-bg-color: #000;
	--grey-bg-color: #f4f5f7;

	/* Btn colors */
	--btn-bg-color: #5eb0e0;
	--btn-bg-color-yes: #4caf50;
	--btn-bg-color-no: #e53935;

	/* Categorycolors */
	--category-thoughts: #a7c7e7;
	--category-ideas: #ffd580;
	--category-questions: #b2e672;
	--category-humor: #f7a6b5;

	/* Text color */
	--white-text-color: #ffffff;
	--black-text-color: #000;
	--error-text-color: #e53935;

	--font-size-base: 1rem;
	--font-size-h1: 2rem;
	--font-size-h2: 1.75rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;
	--font-size-large-p: 1.25rem;
	--font-size-small-p: 1rem;
	--font-size-large-btn: 1.5rem;
	--font-size-medium-btn: 1.25rem;
	--font-size-small-btn: 1rem;
}

button {
	background-color: transparent;
	border: none;
}

li {
	list-style-type: none;
}

p {
	font-size: var(--font-size-large-p);
}

.main__wrapper {
	padding: 1rem;
}

body {
	background-color: var(--grey-bg-color);
}

input,
textarea {
	border-radius: 5px;
	border: 1px solid var(--black-bg-color);
}

input:focus,
textarea:focus {
	border: 2px solid var(--main-bg-color);
	outline: none;
}
